<p-toolbar>
  <div class="p-toolbar-group-start">
    <a routerLink="/">
      <h1>Hookio</h1>
    </a>
  </div>
  <div class="p-toolbar-group-end">
    @if (user()) {
    <p-menu
      [popup]="true"
      [model]="items"
      appendTo="body"
      styleClass="header-popup"
      #popup
    />
    <p-avatar
      buttonify
      [image]="userAvatar()"
      size="large"
      shape="circle"
      (clicked)="popup.toggle($event)"
    />
    } @else {
    <p-button label="Login" (onClick)="login()" />
    }
  </div>
</p-toolbar>
