:host {
  max-width: 40%;
  opacity: 1; /* Default visible state */
  transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out;

  @media screen and (max-width: 1200px) {
    max-width: 50%;
  }
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }

  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .p-tabview .p-tabview-nav li {
    width: 100%;
  }

  ::ng-deep .p-scrollpanel {
    height: calc(100vh - 151.8px);
  }

  @media screen and (max-width: 800px) {
    ::ng-deep .p-scrollpanel {
      height: 100%;
    }
  }

  // No animation on initial render
  &:not(.ready) {
    opacity: 1;
  }

  // Animation applied after component is ready
  &.hidden.ready {
    transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out,
      opacity 0.2s ease-out;
    opacity: 0;
    flex: 0;
    max-width: 0;
  }

  &.ready {
    transition: flex 0.5s ease-in-out, max-width 0.5s ease-in-out,
      opacity 0.7s ease-in;
    opacity: 1;
  }
}
