@if (loading()) {
<hookio-loading-overlay />
} @else {
<div class="wrapper">
  <div
    class="editor-drawer"
    [class.hidden]="!editorOpen()"
    [class.ready]="isReady()"
  >
    <p-tabView>
      @for (tab of tabs(); track tab.value) {
      <p-tabPanel [header]="tab.label">
        <!-- This forces tabView to eager load the tabs, causes an error on PrimeNG's end but its fine -->
        <ng-template pTemplate="content">
          <p-scrollPanel
            styleClass="discord-scrollbar"
            [style]="{ height: 'calc(100vh - 151.8px)' }"
          >
            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Subscription Details">
                <div class="form-group col" [formGroup]="subscriptionForm()">
                  <p-floatLabel>
                    <input
                      id="webhookUrl"
                      pInputText
                      formControlName="webhookUrl"
                      placeholder="https://discord.com/api/webhooks/..."
                    />
                    <label for="webhookUrl">Webhook URL</label>
                  </p-floatLabel>
                  <p-floatLabel>
                    <input
                      id="source"
                      pInputText
                      formControlName="source"
                      placeholder="Source"
                    />
                    <label for="source">Subscription Source</label>
                  </p-floatLabel>
                </div>
              </p-accordionTab>
            </p-accordion>
            <p-divider />
            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Message">
                <div class="form-wrapper" [formGroup]="tab.messageForm">
                  <p-floatLabel>
                    <textarea
                      [maxlength]="2000"
                      id="content"
                      pInputTextarea
                      formControlName="content"
                      [rows]="5"
                      cols="30"
                      #textarea
                    ></textarea>
                    <label for="content"
                      >Content ({{ textarea.value.length }}/2000)</label
                    >
                  </p-floatLabel>
                  <p-accordion [multiple]="true" formArrayName="embeds">
                    @for (embed of tab.embedsForm.value; track $index) {
                    <!-- Embed -->
                    <hookio-embed-editor
                      [tab]="tab"
                      [idx]="$index"
                      (duplicate)="duplicateEmbed($event, tab.embedsForm)"
                      (remove)="removeEmbed($event, tab.embedsForm)"
                      (swap)="
                        swapEmbed($event.origin, $event.target, tab.embedsForm)
                      "
                    />
                    }
                  </p-accordion>
                  <div class="add-embed-btn">
                    <p-button
                      label="Add Embed"
                      [disabled]="tab.embedsForm.value.length === 10"
                      (onClick)="addEmbedTo(tab.embedsForm)"
                    />
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </p-scrollPanel>
        </ng-template>
      </p-tabPanel>
      }
    </p-tabView>
  </div>
  <span class="toggle-editor-wrapper">
    <p-button
      [icon]="
        editorOpen() ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'
      "
      [text]="true"
      [outlined]="true"
      class="toggle-editor"
      (onClick)="editorOpen.set(!editorOpen())"
    ></p-button>
  </span>
  <div class="editor-preview" [class.full]="!editorOpen()"></div>
</div>
}
