@if (store.loading()) {
<hookio-loading-overlay />
} @else if (store.error()) { } @else {
<div class="wrapper">
  <div
    class="editor-drawer"
    [class.hidden]="!editorOpen()"
    [class.ready]="isReady()"
  >
    <p-tabView>
      @for (message of store.subscription()!.messages; track message.id; let
      messageIdx = $index) {
      <p-tabPanel
        [header]="
          message.type | toMessageLabel : store.subscription()!.subscriptionType
        "
      >
        <!-- This forces tabView to eager load the tabs, causes an error on PrimeNG's end but its fine -->
        <ng-template pTemplate="content">
          <p-scrollPanel
            styleClass="discord-scrollbar"
            [style]="{ height: 'calc(100vh - 151.8px)' }"
          >
            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Subscription Details">
                <div class="form-group col" [formGroup]="store.form()!">
                  <p-floatLabel>
                    <input
                      id="webhookUrl"
                      pInputText
                      formControlName="webhookUrl"
                      placeholder="https://discord.com/api/webhooks/..."
                    />
                    <label for="webhookUrl">Webhook URL</label>
                  </p-floatLabel>
                  <p-floatLabel>
                    <input
                      id="source"
                      pInputText
                      formControlName="source"
                      placeholder="Source"
                    />
                    <label for="source">Subscription Source</label>
                  </p-floatLabel>
                </div>
              </p-accordionTab>
            </p-accordion>
            <p-divider />
            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Message">
                <div
                  class="form-wrapper"
                  [formGroup]="store.messages().at($index)"
                >
                  <p-floatLabel>
                    <textarea
                      [maxlength]="2000"
                      id="content"
                      pInputTextarea
                      formControlName="content"
                      [rows]="5"
                      cols="30"
                      #textarea
                    ></textarea>
                    <label for="content"
                      >Content ({{ textarea.value.length }}/2000)</label
                    >
                  </p-floatLabel>
                  <p-accordion
                    [multiple]="true"
                    formArrayName="embeds"
                  >
                    @for (embed of store.messages().at($index).value.embeds;
                    track embed.id) {
                    <!-- Embed -->
                    <p-accordionTab>
                      <ng-template pTemplate="header">
                        <hookio-accordion-header
                          [showMoveUp]="$index !== 0"
                          [showMoveDown]="
                            $index + 1 !==
                            store.messages().at(messageIdx).value.embeds?.length
                          "
                          [showCopyIcon]="
                            store.messages().at(messageIdx).value.embeds
                              ?.length !== 10
                          "
                          [label]="'Embed ' + ($index + 1)"
                          (move)="store.moveEmbed(messageIdx, $index, $event)"
                          (remove)="store.removeEmbed(messageIdx, $index)"
                          (copy)="store.duplicateEmbed(messageIdx, $index)"
                        />
                      </ng-template>
                      <hookio-embed-editor
                        [messageForm]="store.messages().at(messageIdx)"
                        [idx]="$index"
                        (addField)="store.addEmbedField(messageIdx, $index)"
                        (duplicateField)="store.duplicateEmbedField(messageIdx, $index, $event)"
                        (moveField)="store.moveEmbedField(messageIdx, $index, $event.fieldIdx, $event.direction)"
                        (removeField)="store.removeEmbedField(messageIdx, $index, $event)"
                      />
                    </p-accordionTab>

                    }
                  </p-accordion>
                  <div class="add-embed-btn">
                    <p-button
                      label="Add Embed"
                      [disabled]="
                        store.messages().at(messageIdx).value.embeds?.length ===
                        10
                      "
                      (onClick)="store.addEmbed(messageIdx)"
                    />
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </p-scrollPanel>
        </ng-template>
      </p-tabPanel>
      }
    </p-tabView>
  </div>
  <span class="toggle-editor-wrapper">
    <p-button
      [icon]="
        editorOpen() ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'
      "
      [text]="true"
      [outlined]="true"
      class="toggle-editor"
      (onClick)="editorOpen.set(!editorOpen())"
    ></p-button>
  </span>
  <div class="editor-preview" [class.full]="!editorOpen()"></div>
</div>
}
