<span> {{ label() }} </span>
<div class="icons">
  @if (showMoveUp()) {
  <p-button
    icon="pi pi-chevron-up"
    severity="secondary"
    [rounded]="true"
    [text]="true"
    pTooltip="Move up"
    (onClick)="emitMove($event, 'up')"
  />
  } @if (showMoveDown()) {
  <p-button
    icon="pi pi-chevron-down"
    severity="secondary"
    [rounded]="true"
    [text]="true"
    pTooltip="Move down"
    (onClick)="emitMove($event, 'down')"
  />
  } @if (showCopyIcon()) {
  <p-button
    icon="pi pi-copy"
    severity="secondary"
    [rounded]="true"
    [text]="true"
    pTooltip="Duplicate"
    (onClick)="emitCopy($event)"
  />
  } @if (showRemoveIcon()) {
  <p-button
    icon="pi pi-trash"
    severity="secondary"
    [rounded]="true"
    [text]="true"
    pTooltip="Remove"
    (onClick)="emitRemove($event)"
  />
  }
</div>
