/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
  font-family: "Open Sans", Arial, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

.header-popup {
  width: 90px;
}

.p-dialog-content {
  border-radius: 4px;
}

.p-progress-spinner-circle {
  stroke: #5865f2 !important;
}