:host {
  .header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    h1 {
      padding: 1rem 0.5rem;
      margin: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .form-item {
      input {
        width: 100%;
        &.ng-valid {
          border: 1px solid #5865f2;
        }
      }
    }
  }

  .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  .loader-wrapper {
    width: 20px;
  }

  .loading, .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    .loader-wrapper {
      width: 50px;
    }
  }
}
